
#include <windows.h>

#include "resource.h"

IDD_DIALOG DIALOGEX MOVEABLE IMPURE LOADONCALL DISCARDABLE 10, 10, 186, 104, 0
STYLE DS_MODALFRAME | 0x0004 | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | WS_POPUP

CAPTION "Dialog"
FONT 8, "MS Sans Serif", 700, 0 /* FALSE */

BEGIN

    /* 
    CONTROL "Tab Control", IDC_OPTIONS, "SysTabControl32", 0x0800 | 0x1000, 4, 4, 176, 96, 0, 0 
    */

END

IDD_DIALOG_SUBONE DIALOGEX MOVEABLE IMPURE LOADONCALL DISCARDABLE 10, 10, 186, 104, 0
STYLE DS_MODALFRAME | WS_CAPTION | WS_CHILD | WS_VISIBLE | WS_POPUP

CAPTION "Local File Settings"
FONT 8, "MS Sans Serif", 700, 0 /* FALSE */

BEGIN

    EDITTEXT IDE_LOGFILE, 40, 5, 163, 13, WS_TABSTOP
    EDITTEXT IDE_IMGFILE, 40, 23, 163 13, WS_TABSTOP
    EDITTEXT IDE_ERRFILE, 40, 41, 163, 13, WS_TABSTOP

    LTEXT "Image", -1, 5, 5, 30, 13
    LTEXT "Error", -1, 5, 23, 30, 13
    LTEXT "XML Log", -1, 5, 41, 30, 13

END


IDD_DIALOG_SUBTWO DIALOGEX MOVEABLE IMPURE LOADONCALL DISCARDABLE 10, 10, 186, 104, 0
STYLE DS_MODALFRAME | WS_CAPTION | WS_CHILD | WS_VISIBLE | WS_POPUP

CAPTION "Acceptor Scripts"
FONT 8, "MS Sans Serif", 700, 0 /* FALSE */

BEGIN

    EDITTEXT IDE_URL_IMG, 70, 5, 132, 13, WS_TABSTOP
    EDITTEXT IDE_URL_LOG, 70, 23, 132 13, WS_TABSTOP
    EDITTEXT IDE_URL_SIGGEN, 70, 41, 132, 13, WS_TABSTOP

    LTEXT "Image Acceptor", -1, 5, 5, 60, 13
    LTEXT "XML Log Acceptor", -1, 5, 23, 60, 13
    LTEXT "Siggen Acceptor", -1, 5, 41, 60, 13

END

IDD_DIALOG_SUBTHREE DIALOGEX MOVEABLE IMPURE LOADONCALL DISCARDABLE 10, 10, 186, 104, 0
STYLE DS_MODALFRAME | WS_CAPTION | WS_CHILD | WS_VISIBLE | WS_POPUP

CAPTION "Dialog"
FONT 8, "MS Sans Serif", 700, 0 /* FALSE */

BEGIN
    DEFPUSHBUTTON "Rwar", 102, 10, 10, 50, 24
END


/*

IDD_DIALOG DIALOGEX 10, 10, 294, 153, 0
STYLE DS_MODALFRAME | 0x0004 | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | WS_POPUP
CAPTION "Dialog"
FONT 8, "MS Sans Serif", 700, 0
BEGIN
    EDITTEXT        IDC_EDIT1, 	40,8,24,16, ES_AUTOHSCROLL | ES_LEFT, , 0
    EDITTEXT        IDC_EDIT2, 	8,8,24,16, ES_AUTOHSCROLL | ES_LEFT, , 0
    EDITTEXT        IDC_EDIT3, 	72,8,24,16, ES_AUTOHSCROLL | ES_LEFT, , 0
    CTEXT           "Red", IDC_STATIC, 	8,28,24,16, SS_LEFT, , 0
    CTEXT           "Green", IDC_STATIC, 	40,28,24,16, SS_LEFT, , 0
    CTEXT           "Blue", IDC_STATIC, 	72,28,24,16, SS_LEFT, , 0
    EDITTEXT        IDC_EDIT4, 	8,48,276,16, ES_AUTOHSCROLL | ES_LEFT, , 0
    EDITTEXT        IDC_EDIT5, 	8,80,88,16, ES_AUTOHSCROLL | ES_LEFT, , 0
    EDITTEXT        IDC_EDIT6, 	8,112,88,16, ES_AUTOHSCROLL | ES_LEFT, , 0
    LTEXT           "Internet Host", IDC_STATIC, 	8,68,92,12, SS_LEFT, , 0
    LTEXT           "XML Log", IDC_STATIC, 	8,100,92,12, SS_LEFT, , 0
    LTEXT           "Error Log", IDC_STATIC, 	8,132,92,12, SS_LEFT, , 0
    PUSHBUTTON      "OK", IDC_BUTTON1, 	128,120,60,20, 0, , 0
    PUSHBUTTON      "Cancel", IDC_BUTTON2, 	200,120,60,20, 0, , 0
END

*/
